body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#boton:hover{
    color: antiquewhite;
    background-color: green;

}

#boton::before{
    content: "Pasa por encima";
}

#boton:hover::before{
    content: "¡Hecho!";
}